.counter {
    background-color: azure;
    width: 100%;
}

.counter__output {
    font-size: 30px;
    color: rgb(9, 24, 140);
    padding: 25px 20px;
    margin: 5px 30px;
    font-weight: 700;
}
 
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
 